<div class="row">
  <div class="col-lg-4 col-md-4" ng-repeat="img in info.direcImage">
    <img class="main" ng-src="{{img.src}}" alt="{{img.name}}">
  </div>
  
  <div class="col-lg-4 col-md-4">
    <!-- google map here -->
    <iframe width="360" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=4852+Yonge+St.+North+York,+ON+M2N+5N2&aq=&sll=49.891235,-97.15369&sspn=34.709365,68.554688&ie=UTF8&hq=&hnear=4852+Yonge+St,+North+York+Ontario+M2N+5N2&t=m&z=14&ll=43.762947,-79.411978&output=embed&iwloc=B"></iframe>
  </div>
</div>