<div class="row">
  <div class="col-xs-12 col-md-6" ng-repeat="staff in info.staffInfos" ng-show="$index < 2">
    <h4 class="text-primary">{{staff.name}}</h4>
    
    <table class="table-condensed gvi-profile-img">
      <tr>
        <td><img ng-src="{{staff.photo}}" alt="{{staff.name}}" class="img-rounded"></td>
        <td><div ng-bind-html="staff.profile"></div></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6" ng-repeat="staff in info.staffInfos" ng-show="$index > 1">
    <h4 class="text-primary">{{staff.name}}</h4>
    
    <table class="table-condensed gvi-profile-img">
      <tr>
        <td><img ng-src="{{staff.photo}}" alt="{{staff.name}}" class="img-rounded"></td>
        <td><div ng-bind-html="staff.profile"></div></td>
      </tr>
    </table>
  </div>
</div>